# frozen_string_literal: true

module Types
  class QueryType < Ibrain::Types::BaseObject
    description 'Define all resolver for client'

    # Add `node(id: ID!) and `nodes(ids: [ID!]!)`
    include GraphQL::Types::Relay::HasNodeField
    include GraphQL::Types::Relay::HasNodesField

    # Add root-level fields here.
    # They will be entry points for queries on your schema.

    # Example with user resolvers
    # field :users, resolver: Resolvers::UsersResolver
  end
end
